<section class="Body">
    <div class="Newsl">
      <img src="{{site.baseurl}}/img/Village.jpg" alt="Village background">
      <p>Subscribe to Our Newsletter</p>
      <p>Get weekly update about our product on your email, no spam guaranteed we promise</p>
      <form>
        <input type="email" placeholder="youremail123@gmail.com">
        <button type="submit">SUBSCRIBE</button>
      </form>
    </div>
  
    <footer>
      <p>Salty</p>
      <div class="social-icons">
        <a href="#"><img src="{{site.baseurl}}/img/instagram.png" alt="Instagram"></a>
        <a href="#"><img src="{{site.baseurl}}/img/twitter.png" alt="Twitter"></a>
        <a href="#"><img src="{{site.baseurl}}/img/Facebook.jpg" alt="Facebook"></a>
      </div>
  
      <div class="footer-links">
        <div>
          <h4>Resources</h4>
          <ul>
            <li>Download</li>
            <li>Help Center</li>
            <li>Guide Book</li>
            <li>App Directory</li>
          </ul>
        </div>
        <div>
          <h4>Travellers</h4>
          <ul>
            <li>Why Travellers</li>
            <li>Enterprice</li>
            <li>Customer Stories</li>
            <li>Instagram post</li>
          </ul>
        </div>
        <div>
          <h4>Company</h4>
          <ul>
            <li>Travelling</li>
            <li>About Locato</li>
            <li>Success</li>
            <li>Information</li>
          </ul>
        </div>
      </div>
    </footer>
  </section>