
<section class="Body">
    <div class="Newsl">
        <img src="{{site.baseurl}}/img/Village.jpg">
        <p>Subscribe to Our Newsletter</p>
        <form>
            <input type="email" placeholder="Enter your email">
            <button type="submit">Subscribe</button>
        </form>
    </div>

    <footer>
        <p>&copy; 2025 Salty. All rights reserved.</p>
        <div class="social-icons">
            <a href="#"><img src="{{site.baseurl}}/img/instagram.png" ></a>
            <a href="#"><img src="{{site.baseurl}}/img/twitter.png" ></a>
            <a href="#"><img src="{{site.baseurl}}/img/Facebook.jpg" ></a>
        </div>
    </footer>
</section>