<section class="NewB">
    <div class="latest-blog">
      <h3>Latest Blog</h3>
      {% for page in site.posts limit:1 %}
      <div class="latest-entry">
        <img src="{{site.baseurl}}/img/{{ page.image }}" alt="{{ page.title }}">
        <a href="{{site.baseurl}}{{page.url}}"><p class="Solo">{{ page.title }}</p> </a>
        <p class="TripP">{{ page.excerpt }}</p>
      </div>
      {% endfor %}
    </div>
  
    <aside class="recent-blogs">
      <h4>Recent Blogs</h4>
      <ul>
        {% for page in site.posts offset:1 limit:3 %}
        <li class="recent-entry">
          <img src="{{site.baseurl}}/img/{{ page.image }}" alt="{{ page.title }}">
          <div>
            <strong>{{ page.title }}</strong>
            <p>{{ page.excerpt }}</p>
            <a href="{{site.baseurl}}{{ page.url }}">Read more</a>
          </div>
        </li>
        {% endfor %}
      </ul>
    </aside>
  </section>
  