<nav>
    <p class="Salty">Salty</p>
    
    <a href="#home">Home</a></li>
    <a href="#about">About</a></li>
    <a href="#blog">Blog</a></li>
    <a href="#contact">Contact</a></li>

    <div class="Icons">
        <a href="#"><img src="/img/Facebook.jpg" >Facebook</a>
        <a href="#"><img src="/img/twitter.png" >Twitter</a>
        <a href="#"><img src="/img/instagram.png">Instagram</a>
    </div>
</nav>
<div class="tower">
    <h1>Travel, it's the best investment you can make.</h1>
    <img src="/img/Tower.jpg" >
</div>