
{% include head.html %} 
{% include title.html %}

{% include page2.html %}
{% include advice.html %}    
{% include Explore.html %}  
{% include destination.html %} 
 

<section class="DavidM">
    <div class="DavidI">
        <img src="{{ site.baseurl }}/img/David.jpg" alt="David">
    </div>
    <div class="DavidT">
        <p class="subtitle">MEET</p>
        <h5>David</h5>
        <p>
        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Cum in vel massa donec sit.
        Mi ut risus sem malesuada ornare. Ac eu erat eget et lorem est arcu. Gravida hendrerit
        sit blandit semper lacus. Nulla amet suscipit sit lectus tortor. Dolor non eget
        suspendisse leo scelerisque sed d.
        </p>
</div>
</section>
  
{%include Footer.html %}